.hero {
    background: url("./backgroundImage.jpg") center/cover no-repeat;
    background-size: cover;
    height: 100vh;
}

.header {
    width: 95%;
    background-color: rgba(0, 0, 0, .2);
}

.nav-logo {
    display: flex;
    align-items:stretch;
    text-align: center;
    padding: 10px 5px 10px 25px;
}


.nav-bar{
    background-color: transparent;
}


/* nav.greeting-links {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 200px;
    margin-right: 25px;
} */


.form-button-signup {
    background-color: white;
    color: black;
    position: absolute;
    right: 0%;
    font-size: 20px;
    cursor: pointer;
    height: 55px;
    width: 80px;
    text-align: center;
    line-height: 275%;
}

.form-button-signin {
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    position: absolute;
    right: 7%;
    width: 80px;
    height: 80px;
}


.header-type {
    width:500px;
    margin: 0 auto;
    text-align: center
}

.header-link {
    width:500px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}

.auth-skip {
    width:500px;
    margin: 0 auto;
    text-align: left;
}